<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" media="all"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<title>映画館</title>
</head>
<body>
	<div class="container">
		<p th:text="${user.name}"></p>
		<div class="panel panel-primary" id="resultSearchMovie_panel">
			<div class="panel-heading">
				<h1 class="panel-title" th:text="|*{movie.getMovie_title()} 上映中映画館|"></h1>
			</div>
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr class="success">
							<td>都道府県</td>
							<td>映画館名</td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="theater:${theaterList}">
							<td th:text="${theater.getPref_name()}"></td>
							<td th:text="${theater.getMovie_theater_name()}"></td>
							<td><a th:href="@{'/toTheaterPage/' + ${theater.getMovie_theater_cd()}}">映画館ページへ</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="panel-footer"></div>
		</div>
	</div>
	<script type="text/javascript"
		th:src="@{/webjars/jquery/1.12.4/jquery.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>